:root{
    --brand-color: #4D5AE5;
    --brand-color: #2E2F42;
    --brand-color: #31D0AA;
    --brand-color: #434455;
    --brand-color: #8E8F99;
    --brand-color: #E7E9FC;
    --brand-color: #F4F4FD;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


section{
    border-color: #FFFFFF;
}


header{
    font-family: 'Roboto', sans-serif;
}


.top{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


section{
    padding-top: 192px;
    padding-bottom: 19px;
}


.container{
    color: #FFFFFF;
}


.ittem101{
    border-color: #2E2F42;
    z-index: 2;
}


.item101:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.list88{
    padding-bottom: 32px;
}


.main-nav{
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: baseline;
}


a{
    margin: 0px;
    text-decoration: none;
}


.icon{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    color: #4D5AE5;
    width: 115px;
    height: 24px;
    margin-right: 77px;
}


.icon1{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    color: #4d5ae5;
}


.link1{
    width: 69px;
    height: 48px;
    background-color: #F4F4FD;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 12px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link1:hover{
    background-color: #4D5AE5;
    color: #F4F4FD;
}


.link1:focus{
    background-color: #4D5AE5;
    color: #F4F4FD;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  


.link2{
    width: 116px;
    height: 48px;
    background-color: #F4F4FD;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 12px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ,color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link2:hover{
    background-color: #4D5AE5;
    color: #F4F4FD;
}


.link2:focus{
    background-color: #4D5AE5;
    color: #F4F4FD;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link3{
    height: 48px;
    width: 78px;
    background-color: #F4F4FD;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 12px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link3:hover{
    background-color: #4D5AE5;
    color: #F4F4FD;
}


.link3:focus{
    background-color: #4D5AE5;
    color: #F4F4FD;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link4{
    Width: 101px;
    Height: 48px;
    background-color: #F4F4FD;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 12px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link4:hover{
    background-color: #4D5AE5;
    color: #F4F4FD;
}


.link4:focus{
    background-color: #4D5AE5;
    color: #F4F4FD;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link5{
    width: 126px;
    height: 48px;
    background-color: #F4F4FD;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 12px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link5:hover{
    background-color: #4D5AE5;
    color: #F4F4FD;
}


.link5:focus{
    background-color: #4D5AE5;
    color: #F4F4FD;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link0{
    background-color: #4D5AE5;
    border-color: #4D5AE5;
    border-radius: 4px;
    color: #FFFFFF;
    width: 170px;
    height: 51px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: block;
    text-align: center;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link0:hover{
    background-color: #404BBF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.link0:focus{
    background-color: 
    #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero{
    background-color: #2E2F42;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    padding-top: 192px;
    padding-bottom: 192px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(Imagies/people-office1.jpg);
    max-width: 1600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    max-width: 492px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}


li > p {
    font-weight: 400;
}


li > h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    background-color: #FFFFFF;
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2%;
}


text{

    display: inline;
    color: #2E2F42;
    text-decoration: none;
    list-style: none;
    background-color: #FFFFFF;
}


.buttons1{
    width: 100%;
    list-style: none;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 120px 0 72px 0;
    margin: 0;
    padding: 0;
    gap: 24px;
    margin-bottom: 72px;
}


.text:active{
    color: #2E2F42;
    text-decoration: none;
}


.text:visited{
    color: #2E2F42;
    text-decoration: none;
}


.text:hover{
    color: #2E2F42;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.subject{
    color: #2E2F42;
}


.caption{
    color: #F4F4FD;
}


.ullist{
    list-style: none;
    background-color: #FFFFFF;
    display: flex;
    margin: 0;
    padding: 0;
}


.item1000{
    margin-right: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.item1000:last-child{
    margin-right: 0;
}


nav{
    margin-right: 331px;
}


.page{
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current{
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #4D5AE5;
}


.current::after{
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    position: absolute;
    left: 0;
    bottom: -24px;
}


.page:hover{
    color: #434455;
}


.page:focus{
    color: #4D5AE5;
}


.ullist1{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 40px;
}


.text77{
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    height: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.text77:hover{
    color: #4D5AE5;
}


.text77:focus{
    color: #4D5AE5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.list{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    background-color: #FFFFFF;
    color: #2E2F42;
    font-size: 20px;
    display: flex;
    margin: 0;
    padding: 0;
    border: #2E2F42;
    justify-content: center;
    gap: 24px;
}


.photo13:last-child{
    margin-right: 0;
}


.photo12{
    list-style: none;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 24px;
}


.wrap{
    padding: 32px 16px;
    border: 0.5px solid #F4F4FD;
    border-top: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.list-item{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2%;
    color: #2E2F42;
    margin: 0;
}


.list-item1{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #434455;
    margin-top: 8px;
    margin-bottom: 0;

}
.items{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    line-height: 102%;
}
.image5{
    font-size: 36px;
    line-height: 1.1;
    vertical-align: top;
    letter-spacing: 2%;
    color: #2E2F42;
    text-align: center;
    margin: 0;
    margin-bottom: 72px;

}
.text5{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2%;
    color: #2E2F42;
    margin-bottom: 8px;
    margin: 0;
    text-align: center;
}
.text6{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #434455;
    margin-top: 8px;
    margin-bottom: 0;
    text-align: center;
}
.list9{
    list-style: none;
}
.text8{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}
.text8{
    margin: 0;
    width: 264px;
    height: 72px;
}
.image12{
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 2%;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 72px;
}
.list-item3{
    font-weight: 600;
    font-size: 20px;
    background-color: #FFFFFF;
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    letter-spacing: 2%;
    margin-top: 0;
    margin-bottom: 8px;
}
.list-item4{
    background-color: #FFFFFF;
    color: #434455;
    font-family: 'Roboto', sans-serif;;
    font-size: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    margin: 0;
    width: 264px;
    height: 72px;
    text-align: left
}
.item100{
    width: 264px;
    gap: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.item99:last-child{
    margin-right: 0;
}
.list1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    background-color: #FFFFFF;
    color: #2E2F42;
    font-size: 20px;
    padding: 0;
    margin: 0;
    gap: 24px;
    row-gap: 48px;
}
.li .item101{
    width: 100%;
    display: inline-block;
    margin-right: 24px;
    border: #4D5AE5;
}
.li .item101:last-child{
    margin-right: 0;
}
.items{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.icon1{
    padding: 0;
}


section{
    padding-top: 120px;
    padding-bottom: 120px;
}


.background{
    background-color: #2E2F42;
}


.gray{
    background-color: #F4F4FD;
}


.page1OurTeam{
    padding-top: 32px;
    padding-bottom:32px;
}


.page1text{
    padding-top: 120px;
    padding-bottom: 0px;
}


img{
    display: block;
}


.hCustomers{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 3%;
    text-align: center;
    color:#2E2F42;
    margin: 0;
    margin-bottom: 72px;
}


.uliconsbottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0;
    padding: 0;
}


.text11{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}


.footer-nav{
    display: flex;
    align-items: baseline;
}


.footerIcons{
    align-items: baseline;
    margin-left: 120px;
}


.logofooter{
    margin-bottom: 16px;
}


footer{
    font-family: 'Roboto', sans-serif;
    background-color: #2E2F42;
    width: auto;
    color:#E7E9FC;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}


.iconsvgmain{
    display: flex;
    height: 112px;
    width: 264px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}


.svgmain{
    display: flex;
    justify-content: center;
    align-items: center;
}


.iconsundertext{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.iconsundertext:focus{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.icons{
    margin-top: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 24px;
    padding: 0;
}


.icons1{
    display: flex;
    gap: 16px;
    margin-top: 16px;
    padding: 0;
}


.insttwitfacelik{
    width: 16px;
    height: 16px;
}


.asvg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.asvg:hover{
    background-color: #31D0AA;
    border-radius: 50%;
}


.asvg:focus{
    background-color: #31D0AA;
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.iconsbottom1{
    width: 24px;
    height: 24px;
}

.iconsfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}


.qwer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FFFFFF1A;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.qwer:hover{
    background-color: #31D0AA;
    border-radius: 50%;
}


.qwer:focus{
    background-color: #31D0AA;
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.iconmain{
    width: 64px;
    height: 64px;
}


.iconsbottom{
    display: flex;
    height: 88px;
    width: 168px;
    align-items: center;
    justify-content: center;
}


.logoyaco{
    fill: currentColor;
    width: 100%;
    height: 100%;
    padding: 16px 32px;
}


.iconsbotlogoyaco{
    width: 100%;
    height: 100%;
    display: block;
    color: #AFB1B8;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.iconsbotlogoyaco:hover{
    border:1px solid #4D5AE5;
    border-radius: 4px;
    color: #4D5AE5;
}


.iconsbotlogoyaco:focus{
    border:1px solid #4D5AE5;
    border-radius: 4px;
    color: #4D5AE5;
}


.blue-hov{
    width: 360px;
    height: 300px;
    background-color: #4D5AE5;
    color: #F4F4FD;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 441px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.blue-text{
    max-width: 296px;
    height: 96px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    margin-top: 40px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}


.cont{
    position: relative;
    overflow: hidden;
}


.cont:hover .blue-hov{
    top: 0;
}


.data-modal{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 408px;
    height: 576px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.data-modal-close{
    position: absolute;
    top: 24px;
    left: 360px;
}


.close{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover{
    cursor: pointer;
}


.hr{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8px;
    height: 8px;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) , visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}